menu "Hifimisc driver serve HIFI dsp"

config SND_HIFI_LPP
     bool "hifi low power play device support"
     help
          hifi lpp device provide service for HIFI and AP, in case of HIFI ultra-low power audio play.

endmenu

